.hedr-cmc{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
	z-index: 0px !important;

}
.inpt-1-cmc{
	height: 120px;
	padding-top: 3% !important;

}
.input-field {
padding-top: ;
}
.float-btn-cmc{
	    margin-top: -28%;
    margin-left: 99%;
}
.detail-cmc{

	margin-top: 10%;
}
.circle-cmc{
	height: 80px;
	width: 80px;
	border-radius: 40px;
	background-color: white;
	float: right;
	    margin-right: 15%;
    margin-top: 5%;
}
.form-cmc{
	height: 500px;
	background-color: white;
	border-radius: 3px;
}
.btn:hover{
    background-color: #ed8925 !important;
}
.btn{
    background-color: #ed8925 !important;
}
h6{
	 font-weight: 200;
}
.signin-cmc-1{
	color: grey;
	border-left-radius: 3px !important ;
	border:1px grey solid;
	height: 35px;
	border-right: 0px !important;
	    padding-top: 5px !important;
    padding-left: 30px !important ;
    margin-left: 37% !important;
}
.signin-cmc-1-2{
	color: grey;
	border-left-radius: 3px !important ;
	border:1px grey solid;
	height: 35px;
	border-right: 0px !important;
	    padding-top: 5px !important;
    padding-left: 30px !important ;
        background-color: #413937;
            margin-left: 37% !important;
}
.signin-cmc-2{
	color: grey;
	border-right-radius: 3px;
	border:1px grey solid;
	height: 35px;
	    padding-top: 5px !important ;
    padding-left: 30px !important ;
    background-color: #413937;
}
.signin-cmc-2-2{
	color: grey;
	border-right-radius: 3px;
	border:1px grey solid;
	height: 35px;
	    padding-top: 5px !important ;
    padding-left: 30px !important ;
}
.signin-cmc-4{
	color: grey;
	border-left-radius: 1px !important;
	border:1px grey solid;
	height: 35px;
	    padding-top: 5px !important;
    padding-left: 30px !important ;
}
.signin-cmc-3{
	color: grey;
	border-radius: 1px !important;
	border:1px grey solid;
	height: 35px;
	    padding-top: 5px !important;
    padding-left: 30px !important ;
}
.icon-1-cmc{
	background-image: url("../img/Website-06-06-10.png");
	background-size: cover;
}
.logo-cmc{
	background-image: url("../img/Website-06.png");
	    height: 155px;
    background-size: contain;
    background-repeat: no-repeat;
        margin-top: -22%;
}
.logo-footer-cmc{
	background-image: url("../img/Website-06-06.png");
	background-repeat: no-repeat;
	background-size: contain;
    height: 57px;
    margin-left: 17% !important;
    margin-bottom: 6% !important;
}
.nav-cmc{
	height: 30px;
	background-color: transparent;
	    margin-left: -10px !important;
    width: 102%;
}
.nav-size-cmc-1{
	font-size: 13px;
	margin-top: -8%;
}
.nav-size-cmc{
	font-size: 13px;
	margin-top: -1%;
}
.color-cmc{
	    background-color: #ed8925 !important;
}
.modal{
	max-height: 75% !important;
}
.font-color-cmc{
	color: white;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
}
div h6{
	font-weight: 100;
}
.or-cmc{
	color: white;padding-bottom: 7%;margin-left: 8%;
}
.footer-cmc{
	background-color: #292728;color: white; font-weight: 200;padding-top: 90px;padding-bottom: 90px;margin-bottom: 0px !important;
}
.form-main-cmc{
	background-color: #ed8925;padding-top: 40px;padding-bottom: 40px;margin-bottom: 0px !important;
}
.hiw-cmc{
	color: #ed8925;
}
.hiw-cmc-2{
	color: #c3c4c5;font-weight: 200;
}
.hiw-main-cmc{
	 background-color: #f7f7f7;margin-bottom: 0px;
}
.why-main-cmc{
	margin-top: 5%;margin-bottom: 5% !important;
}
.hedr-bg-cmc{
	background-color:white;margin-top: 22.8%;z-index: 2px !important;position: absolute;
}
.all-color-cmc{
    color: #ed8925 !important;
}







/***********STYLE 2 MADDY***********************/
#locationField, #controls {
        position: relative;
        width: 100%;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }







.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 4px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    height: 20px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    
    border-bottom: 1px solid #C2C2C2;
    
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border-bottom: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}




.browser-default {
  background-color: transparent !important;
  border: transparent;
}
select {
  border: transparent !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right;
}
ul {
    list-style-type: none;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
 input[type=time], input[type=date], input[type=datetime], input[type=datetime-local],
  input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.picker {
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
    color: #000000;
    position: absolute;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* { font-family:Arial; }
h2 { padding:0 0 5px 5px; }
h2 a { color: #224f99; }
a { color:#999; text-decoration: none; }
a:hover { color:#802727; }
p { padding:0 0 5px 0; }

input { padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; }
